<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Transactions">
    <update id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS `transactions` (
        `ID` int NOT NULL AUTO_INCREMENT,
        `Date` date NOT NULL,
        `Source` char(17) NOT NULL,
        `Destination` char(17) NOT NULL,
        `Destination_Type` int NOT NULL,
        `Transaction_Value` decimal(17,4) NOT NULL,
        PRIMARY KEY (`ID`),
        UNIQUE KEY `ID_UNIQUE` (`ID`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
    </update>
    <select id="selectByStartAndEndDate" parameterType="map" resultType="com.example.bankaccount.model.TransactionsModel">
        SELECT Date, Source, Destination, Destination_Type, Transaction_Value
        FROM transactions
        WHERE Source=#{Account_Number} AND Date BETWEEN #{Start} AND #{End}
        OR Destination=#{Account_Number} AND Date BETWEEN #{Start} AND #{End}
        ORDER BY ID ASC
    </select>
    <select id="selectDebitByStartAndEndDate" parameterType="map" resultType="com.example.bankaccount.model.TransactionsModel">
        SELECT Date, Source, Destination, Destination_Type, Transaction_Value
        FROM transactions
        WHERE DATE BETWEEN #{Start} AND #{End} AND
        Source=#{Source}
        ORDER BY ID ASC
    </select>
    <select id="selectCreditByStartAndEndDate" parameterType="map" resultType="com.example.bankaccount.model.TransactionsModel">
        SELECT Date, Source, Destination, Destination_Type, Transaction_Value
        FROM transactions
        WHERE DATE BETWEEN #{Start} AND #{End} AND
        Destination=#{Destination}
        ORDER BY ID ASC
    </select>
    <insert id="insert" parameterType="com.example.bankaccount.model.TransactionsModel">
        INSERT INTO transactions (Date, Source, Destination, Destination_Type, Transaction_Value) VALUES (#{Date}, #{Source}, #{Destination}, #{Destination_Type}, #{Transaction_Value})
    </insert>
</mapper>