<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User_Detail">
    <update id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS `user_detail` (
        `ID` int NOT NULL AUTO_INCREMENT,
        `Account_Number` char(17) NOT NULL,
        `Birth_Date` date NOT NULL,
        `Address_3` varchar(45) NOT NULL,
        `Address_4` varchar(45) NOT NULL,
        `Address_1` varchar(45) NOT NULL,
        `Address_2` varchar(45) NOT NULL,
        `Zip_Code` int NOT NULL,
        `ISO_3166_1` int NOT NULL,
        PRIMARY KEY (`ID`),
        UNIQUE KEY `Account_Number_UNIQUE` (`Account_Number`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
    </update>
    <select id="selectByAccount_Number" parameterType="String" resultType="com.example.bankaccount.model.User_DetailModel">
        SELECT * FROM user_detail WHERE Account_Number=#{Account_Number}
    </select>
    <insert id="insert" parameterType="com.example.bankaccount.model.User_DetailModel">
        INSERT INTO user_detail (Account_Number, Birth_Date, Address_3, Address_4, Address_1, Address_2, Zip_Code, ISO_3166_1) VALUES (#{Account_Number}, #{Birth_Date}, #{Address_3}, #{Address_4}, #{Address_1}, #{Address_2}, #{Zip_Code}, #{ISO_3166_1})
    </insert>
</mapper>