<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User_Login">
    <update id="createTableIfNotExists">
        CREATE TABLE IF NOT EXISTS `user_login` (
        `ID` int NOT NULL AUTO_INCREMENT,
        `User_ID` char(12) NOT NULL,
        `Hashed_PIN` char(128) NOT NULL,
        PRIMARY KEY (`ID`),
        UNIQUE KEY `User_ID_UNIQUE` (`User_ID`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
    </update>
    <select id="login" parameterType="com.example.bankaccount.model.User_LoginModel" resultType="String">
        SELECT HASHED_PIN FROM user_login WHERE User_ID=#{User_ID}
    </select>
    <select id="exist" parameterType="String" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM user_login WHERE User_ID=#{User_ID})
    </select>
    <insert id="insert" parameterType="com.example.bankaccount.model.User_LoginModel">
        INSERT INTO user_login (User_ID, Hashed_PIN) VALUES (#{User_ID}, #{Hashed_PIN})
    </insert>
</mapper>